{{ define "body-class" }}article-page keep-sidebar{{ end }}
{{ define "main" }}



<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    {{ partial "article/components/content" . }}
    <link href="/css/say.css" rel="stylesheet" type="text/css">
    <link href="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/css/highlight.github.min.css" rel="stylesheet"
        type="text/css">
    <section id="main" class="container">
        <div class="total">Total <span id="total">0</span> Memos 🎉</div>
        <div id="memos" class="memos">
        </div>
    </section>
    <script type="text/javascript">
        var memos = {
            host: 'https://s.dusays.com/',
            limit: '10',
            creatorId: '122',
            domId: '#memos',
            username: 'fiveth',
            name: 'Fiveth',
        }
    </script>
    <script type="text/javascript"
        src="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/js/lazyload.min.js?v=17.8.3"></script>
    <script type="text/javascript"
        src="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/js/marked.min.js?v=11.1.1"></script>
    <script type="text/javascript"
        src="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/js/view-image.min.js?v=2.0.2"></script>
    <script type="text/javascript"
        src="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/js/moment.min.js?v=2.30.1"></script>
    <script type="text/javascript" src="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/js/moment.twitter.js"></script>
    <script type="text/javascript"
        src="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/js/highlight.min.js?v=11.9.0"></script>
    <script type="text/javascript" src="https://npm.onmicrosoft.cn/penndu@13.0.0/memos/js/main.js"></script>
    <script>hljs.highlightAll();</script>


    {{ if or .Params.math .Site.Params.article.math }}
    {{ partialCached "article/components/math.html" . }}
    {{ end }}
</article>

{{ if not (eq .Params.comments false) }}
{{ partial "comments/include" . }}
{{ end }}

{{ partialCached "footer/footer" . }}

{{ end }}