<style>
    :root {
        --nav-background-color: var(--card-background);
        --nav-font-color: var(--card-text-color-main);
        --nav-font-hover-color: var(--card-text-color-main);
        --nav-hover-background-color: #28B9E6;
        --nav-border-radius: 8px;
        --nav-shadow-color: rgba(40, 185, 230, 0.6);
        --nav-hover-shadow: rgba(40, 185, 230, 0.8);
        --nav-height: 60px;
        /* 导航栏的高度 */
    }

    .menu-container {
        background: var(--nav-background-color);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 90;
        backdrop-filter: saturate(180%) blur(20px);
        padding: 10px 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        height: var(--nav-height);
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    .site-name {
        width: 90px;
        padding: 5px 15px;
        border-radius: var(--nav-border-radius);
        transition: 0.3s;
        position: relative;
        color: var(--nav-font-color);
        font-size: 20px;
        /* 增大字体 */
        font-weight: bold;
        /* 字体加粗 */
    }

    .site-name:hover::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 3px;
        background: var(--nav-hover-background-color);
        border-radius: var(--nav-border-radius);
    }

    .menu-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-item {
        margin: 0 15px;
        padding: 5px 15px;
        border-radius: var(--nav-border-radius);
        transition: 0.3s;
        position: relative;
        color: var(--nav-font-color);
        font-size: 16px;
        /* 增大字体 */
        font-weight: bold;
        /* 字体加粗 */
    }

    .menu-item:hover::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 3px;
        background: var(--nav-hover-background-color);
        border-radius: var(--nav-border-radius);
    }

    .page-content {
        margin-top: var(--nav-height);
    }

    /* 深色模式切换按钮样式 */
    .mode-toggle-button {
        cursor: pointer;
        font-size: 18px;
        margin-left: 15px;
        padding: 10px;
    }

    /* 添加按钮样式 */
    .menu-toggle {
        display: none;
        color: var(--card-text-color-main);
        border: none;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
        z-index: 100;
    }

    /* 媒体查询：在屏幕小于768px时显示按钮 */
    @media screen and (max-width: 768px) {
        .mode-toggle-button {
            position: absolute;
            right: 55px;
            /* 与右边的距离 */
        }

        .menu-toggle {
            display: block;
        }

        .menu-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            /* 调整为菜单栏的高度 */
            left: 0;
            width: 100%;
            background-color: rgba(249, 249, 249, 0.95);
            /* 透明背景 */
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
        }

        .menu-links.active {
            display: flex;
        }
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="menu-container">
        <div class="menu-items">
            <!-- 站点名字 -->
            <a href="{{ .Site.BaseURL }}" class="site-name">Fiveth</a>

            <!-- 导航链接 -->
            <div class="menu-links">
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" class="menu-item">{{ .Name }}</a>
                {{ end }}
            </div>

            <!-- 深色/浅色模式切换按钮 -->
            <div class="menu-item mode-toggle-button" id="dark-mode-toggle">
                <span>🌞</span>
            </div>

            <a class="menu-item menu-toggle">☰</a>


        </div>
    </div>
</nav>

<script>
    // 简单的深色浅色模式切换
    document.getElementById("dark-mode-toggle").addEventListener("click", function () {
        const body = document.body;
        body.classList.toggle("dark-mode");

        // 更新模式的图标
        const modeText = body.classList.contains("dark-mode") ? "🌞" : "🌙";
        this.querySelector("span").textContent = modeText;

        // 如果有需要，可以在这里使用 localStorage 来保存用户的主题偏好
        localStorage.setItem("theme", body.classList.contains("dark-mode") ? "dark" : "light");
    });

    // 页面加载时检测用户的主题偏好
    window.addEventListener("load", function () {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
            document.body.classList.add("dark-mode");
            document.querySelector("#dark-mode-toggle span").textContent = "🌞";
        }
    });

    // 获取按钮和菜单容器
    const menuToggleButton = document.querySelector('.menu-toggle');
    const menuLinks = document.querySelector('.menu-links');

    // 添加点击事件监听器
    menuToggleButton.addEventListener('click', () => {
        // 切换菜单的显示/隐藏
        menuLinks.classList.toggle('active');
    });
</script>